.my {
  margin-top: 30px;
  margin-bottom: 30px;
}

.px {
  padding-left: 20px;
  padding-right: 20px;
}

.py {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-min {
  padding-top: 15px;
  padding-bottom: 15px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
